.App {
  text-align: center;
}

.redLight {
  border: 2px solid black;
  border-radius: 50%;
  background-color: red;
  width: 100px;
  height: 100px;
  margin: 10px;
}

.yellowLight {
  border: 2px solid black;
  border-radius: 50%;
  background-color: yellow;
  width: 100px;
  height: 100px;
  margin: 10px;
}

.greenLight {
  border: 2px solid black;
  border-radius: 50%;
  background-color: green;
  width: 100px;
  height: 100px;
  margin: 10px;
}